.text{
    padding-top: 200px;
}
.slider-img{
    background: #f9f9ff;
}
.detiless{
    padding: 80px;
}
.btn{
    background: #8490ff;

}
.slider3-img{

}
.number-counter{
    background: #8490ff;
    padding: 20px;
}
.mmm{
    border-radius: 50%;
    display: inline-block;
    padding: 20px;
    background: #f9f9ff;
    
}
.img-caratio{
    width: 5rem;
    margin-top: -2rem;
}
.div16 a{
    background: green;
    padding: 20px 40px;
    color: white;
    display: inline-block;
    margin-top: 30px;
    border-radius: 20px 20px;
    text-decoration: none;
}.